body {
  font-family: "Press Start 2P", cursive;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: #fef2bf;
  background-color: #07031a;
}

#game-board {
  background-color: #ffcb74;
  /* width: 100vmin;
  height: 100vmin; */
  width: 630px;
  height: 630px;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

#heading-text {
  font-size: 2em;
  margin: 30px 0;
  color: white;
  text-align: center;
}

#score-display {
  color: #fef2bf;
  font-size: 1.5em;
  margin: 10px 0;
}

#made-by {
  margin: 30px 0;
}

.snake {
  background-color: #6a097d;
  /* border: 0.25vmin solid black; */
}

.food {
  background-color: #79d70f;
  border: 0.25vmin solid black;
}

a {
  color: skyblue;
  text-decoration: none;
}
